.ui.success.message {
    display: none;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
    background: #1d3752;
    color: rgba(255,255,255,.9);
}

#main-body {
    min-height: 750px;
}

.ui.primary.button, .ui.primary.buttons .button {
    background-color: #1d3752;
}

#homepage-img {
    background-image: url(/static/img/pasta.jpg);
    min-height: 700px;
    padding-top: 3cm;

}