<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}TITLE HERE{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
    <p>{% with messages = get_flashed_messages() %}
             {% if messages %}
                   {% for message in messages %}
                        {{ message }}
                   {% endfor %}
             {% endif %}
          {% endwith %}</p>
{% block content%}CONTENT HERE{% endblock %}
</body>
</html>