{% extends 'base.html' %}

{% block title %}Current Inventory{% endblock %}

{% block content %}

<div class="ui container">
    <div class="ui grid">
        <div class="three column row">
            <div class="column"></div>
            <div class="column">
                <h2 class="page-header">Search By Ingredient(s)</h2>
                <form action="/search_by_ingredient">
                    <div class="ui form">
                        <div class="inline field">
                            {% for current_quantity, base_unit, ingredient_name in current_inventory %}
                            <label>Current Inventory:</label>
                            <br>
                            <br>
                            <div class="ui checkbox">
                                <input type="checkbox" name="ingredient" value="{{ ingredient_name }}" tabindex="0" class="hidden">
                                <label>{{ current_quantity }} {{ base_unit }} {{ ingredient_name }}</label>
                                <br>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <br>
                    <button class="ui button" type="submit">Search</button>
                    <br>
                    <br>
                </form>
            </div>
            <div class="column"></div>
        </div>
    </div>
</div>

{% endblock %}
