{% extends 'base.html' %}

{% block title %}IngrediYUM{% endblock %}

{% block content %}
<div class="ui fluid container" id="homepage-img">
    <div class="ui grid">
        <div class="two wide column"></div>
        <div class="eight wide centered column">
            <div id="title-header">IngrediYUM</div>
        </div>
        <div class="four wide centered column">
            <form class="ui form" action="/register" method="POST">
                <div class="field">
                    <label>Username</label>
                    <input type="text" name="username" placeholder="Username" required>
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <button class="ui blue button" type="submit">Sign Up</button>
            </form>
        </div>
        <div class="two wide column"></div>
    </div>
</div>


{% endblock %}