{% extends 'base.html' %}

{% block title %}Shopping List{% endblock %}

{% block content %}

<br>
<div class="ui container">
    <div class="ui grid">
        <div class="four wide column"></div>
        <div class="eight wide column">
            <div class="ui centered fluid card">
                <div class="content">
                    <div class="header">Shopping List {{ shopping_list_id }}</div>
                    <h5>Please confirm your purchases.
                        <button type="button" class="ui button right floated" id="select-all">Select All</button>
                    </h5>
                </div>
                <div class="content">
                    {% for aisle in ingredients %}
                    <h2 class="ui sub header shopping-list">{{ aisle }}</h2>
                    <div class="ui small feed">
                        {% for ingredient_id, ingredient_qty, ingredient_unit, ingredient_name in ingredients[aisle] %}
                        <form action="/inventory" method="POST" id="shopping_list" data-shopping-list-id="{{ shopping_list_id }}">
                            <div class="event">
                                <div class="content">
                                    <div class="summary">
                                        <i class="right triangle icon"></i>{{ '%0.2f' % ingredient_qty|float }} {{ ingredient_unit }} {{ ingredient_name }}
                                        <input type="checkbox" name="ingredient" class="checkbox" data-ingredient-id="{{ ingredient_id }}" data-ingredient-name="{{ ingredient_name }}">
                                        <input type="number" step="0.01" name="quantity" class="quantity" data-default-quantity="{{ '%0.2f' % ingredient_qty|float }}">
                                        <select name="unit" class="unit" id="confirm-unit">
                                            <option value="{{ ingredient_unit }}">{{ ingredient_unit }}</option>
                                            <br>
                                            <option value="none"> </option>
                                            <br>
                                            <!-- <option value="ounces">ounces</option><br>
                                            <option value="pounds">pounds</option><br>
                                            <option value="cups">cups</option><br>
                                            <option value="servings">serving(s)</option><br> -->
                                        </select>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                    </div>
                    {% endfor %}
                    <button class="ui button green right floated" type="submit" id="submit">Confirm Purchases</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="four wide column"></div>
    </div>
</div>

<script src="/static/js/list-confirmation.js"></script>

{% endblock %}
