{% extends 'base.html' %}

{% block title %}Recipe Search Results{% endblock %}

{% block content %}

<h2>Recipe Search Results</h2>

<p>Select Recipe(s) You Want to Cook:</p>

<p><form action="/add-recipe-id" method="POST" id="add-recipe">

    {% for recipe in show_recipes %}
        <b>Recipe Name: {{ recipe['title'] }}</b><input type="checkbox" name="recipeid" data-recipe-id="{{ recipe['id'] }}"><br>
        Ready in {{ recipe['readyInMinutes'] }} minutes<br>
        <img src="{{ recipe['image'] }}"><br>
        {% if 'sourceName' in recipe %}
            via <a href="{{ recipe['sourceUrl'] }}">{{ recipe['sourceName'] }}</a><br><br>
        {% endif %}

        Ingredients in Inventory:<br>
        {% for ingredient in recipe['usedIngredients'] %}
            {{ ingredient['amount'] }} {{ ingredient['unit'] }} {{ ingredient['name'] }}<br>
        {% endfor %}<br>

        Missing Ingredients to Add to Shopping List:<br>
        {% for ingredient in recipe['missedIngredients'] %}
            {{ ingredient['amount'] }} {{ ingredient['unit'] }} {{ ingredient['name'] }}<br>
        {% endfor %}<br>
    {% endfor %}
    <input type="submit" value="Add Selected Recipe(s)" id="add-submit-button">
    </form><br>

    <div id="confirm-add"></div>
    
    <form action="/partial_shopping_list" method="POST">
        <input type="hidden" name="search" value="{{ search }}">
        <input type="submit" value="Generate Shopping List" id="create-list" disabled><br>
    </form>
</p>

<script src="/static/js/recipes-by-ingredient.js"></script>

<p><a href="/main">Return to Main Page</a></p>

{% endblock %}
