{% extends 'base.html' %}

{% block title %}Recipe Search Results{% endblock %}

{% block content %}

<h2>Recipe Search Results</h2>

<p>Select Recipe(s) You Want to Cook:</p>

<p><form action="/user-recipes" method="POST">

    {% for recipe in recipe_info %}
        <b>Recipe Name: {{ recipe['title'] }}</b><input type="checkbox" name="recipeid" value="{{ recipe['id'] }}"><br>
        Ready in {{ recipe['readyInMinutes'] }} minutes<br>
        <img src="{{ recipe['image'] }}"><br>
        {% if 'sourceName' in recipe %}
            via <a href="{{ recipe['sourceUrl'] }}">{{ recipe['sourceName'] }}</a><br><br>
        {% endif %}

        Ingredients:<br>
        {% for ingredient in recipe['extendedIngredients'] %}
            {{ ingredient['amount'] }} {{ ingredient['unit'] }} {{ ingredient['name'] }}<br>
        {% endfor %}<br>
    {% endfor %}
    Add Recipe(s)<input type="submit" value="YES"><br>
    </form>
</p>


{% endblock %}