{% extends 'base.html' %}

{% block title %}Recipe Search Results{% endblock %}

{% block content %}

<h2>Recipe Search Results</h2>

<p>Select Recipe(s) You Want to Cook:</p>

<p><form action="/add-recipe-id" method="POST" id="add-recipe">

    {% for recipe in results_recipes %}
        <b>Recipe Name: {{ results_recipes[recipe]['info']['title'] }}</b><input type="checkbox" name="recipeid" data-recipe-id="{{ recipe }}"><br>
        Ready in {{ results_recipes[recipe]['info']['readyInMinutes'] }} minutes<br>
        <img src="{{ results_recipes[recipe]['info']['image'] }}"><br>
        {% if 'sourceName' in results_recipes[recipe]['info'] %}
            via <a href="{{ results_recipes[recipe]['info']['sourceUrl'] }}">{{ results_recipes[recipe]['info']['sourceName'] }}</a><br><br>
        {% endif %}

        Ingredients in Inventory:<br>
        {% for _, inventory_amount, base_unit, ingredient_name, _ in results_recipes[recipe]['inventory_ing'] %}
            {{ inventory_amount }} {{ base_unit }} {{ ingredient_name }}<br>
        {% endfor %}<br>

        Missing Ingredients to Add to Shopping List:<br>
        {% for _, missing_amount, base_unit, ingredient_name, _ in results_recipes[recipe]['missing_ing'] %}
            {{ missing_amount }} {{ base_unit }} {{ ingredient_name }}<br>
        {% endfor %}<br>
    {% endfor %}
    <input type="submit" value="Add Selected Recipe(s)" id="add-submit-button">
    </form><br>

    <div id="confirm-add"></div>
    
    <form action="/partial_shopping_list" method="POST">
        <input type="submit" value="Generate Shopping List" id="create-list" disabled><br>
    </form>
</p>

<script src="/static/js/recipes-by-ingredient.js"></script>

{% endblock %}
