{% extends 'base.html' %}

{% block title %}Recipe Search Results{% endblock %}

{% block content %}
<div class="ui container">
    <h2>Recipe Search Results</h2>
    <p>Select Recipe(s) You Want to Cook:</p>
    <div class="ui stackable grid">
        <div class="eight wide column">
            <form action="/user-recipes.json" method="POST" id="recipes">
                <div class="ui two centered cards">
                    {% for recipe in recipe_info %}
                    <div class="card">
                        <div class="image">
                            <img src="{{ recipe['image'] }}">
                        </div>
                        <div class="content">
                            <div class="header"><b>{{ recipe['title'] }}</b></div>
                            <div class="meta">
                                <a>{% if 'sourceName' in recipe %}
                                via <a href="{{ recipe['sourceUrl'] }}">{{ recipe['sourceName'] }}</a>
                                <br>
                                <br> {% endif %}</a>
                            </div>
                            <div class="description">
                                <p>Ready in {{ recipe['readyInMinutes'] }} minutes</p>
                                <p>Ingredients:
                                    <br> {% for ingredient in recipe['extendedIngredients'] %} {{ ingredient['amount'] }} {{ ingredient['unit'] }} {{ ingredient['name'] }}
                                    <br> {% endfor %}
                                    <p>Ready in {{ recipe['readyInMinutes'] }} minutes</p>
                            </div>
                        </div>
                        <div class="extra content">
                            <span class="right floated">
                            <input type="checkbox" name="recipeid" value="{{ recipe['id'] }}">
                        </span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button class="ui button" type="submit" id="submit">"Add Selected Recipe(s)"</button>
            </form>
        </div>
    </div>
    <div id="confirm-add-recipe"></div>
    <br>
    <a href="/new_search" class="ui button">Search for More recipes</a>
    <br>
    <br>
    <form action="/shopping_list" method="POST">
        <input type="submit" value="Generate Shopping List" id="new-list" class="ui button" disabled>
    </form>
</div>

<script src="/static/js/add-recipe.js"></script>

{% endblock %}