{% extends 'base.html' %}

{% block title %}Shopping List{% endblock %}

{% block content %}

<h2>Shopping List</h2>

<p>Current user is {{ current_user.username }}</p>

<p>Selected recipes are:<br>
    {% for recipe in current_user.recipes %}
        {% for ingredient in recipe.recipe_ingredients %}
            {{ ingredient.quantity }}
            {{ ingredient.ingredient.ingredient_unit }}
            {{ ingredient.ingredient.ingredient_name }}<br>
        {% endfor %}
    {% endfor %}
</p>


{% endblock %}