{% extends 'base.html' %}

{% block title %}Shopping List{% endblock %}

{% block content %}

<h2>Shopping List</h2>

<p>Selected Recipes:</p>
    <ul>
    <form>
        {% for recipe in recipes %}
        <li>{{ recipe[0] }}<input type="checkbox" name="recipe" value="{{ recipe[0] }}"></li>
        {% endfor %}
    </ul>
    <input type="submit" value="Remove Recipe(s)">
    </form>

<p>List of Ingredients:</p>
    <ul>
    {% for quantity, unit, name in ingredients %}
        <li>{{ quantity }} {{ unit }} {{ name }}</li>
    {% endfor %}
    </ul>

<p><a href="/inventory">Search for More Recipes</a></p>

{% endblock %}